.outline {
  outline: 0.1rem solid black;
  padding: 1rem;
  font-size: 1.2rem;
}

.btn-contaner {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-cs {
  width: 40%;
  height: 46px;
  font-size: 1.1rem;
  align-self: center;
}

.codePrev {
  display: flexbox;
  background-color: #00e171;
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  padding: 15px;
}

.codePrev code {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
